* {
  text-align: center;
  vertical-align: unset;
}

body {
  background-image: url("https://i.redd.it/24y4a814zy801.jpg");
}

#make {
  margin-top: 10px;
}

#list_content {
  visibility: hidden;
  margin-top: -30px;
}

#high_priority {
  overflow-y: auto;
  float: left;
  margin-left: 30px;
  width: 30%;
  height: 350px;
  border: 5px;
  border-style: solid;
  border-color: #d3c4c4;
  border-radius: 2px;
  background-color: white;
  opacity: 0.7;
}

#low_priority {
  overflow-y: auto;
  display: inline-block;
  width: 30%;
  height: 350px;
  border: 5px;
  border-style: solid;
  border-color: #d3c4c4;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.7;
}

#no_rush {
  overflow-y: auto;
  float: right;
  margin-right: 30px;
  width: 30%;
  height: 350px;
  border: 5px;
  border-style: solid;
  border-color: #d3c4c4;
  border-radius: 2px;
  background-color: white;
  opacity: 0.7;
}

#todo {
  padding: 3px 0;
  margin: 0 0 5px 0;
}

#add {
  margin-top: 5px;
}

#unsorted {
  width: 50%;
  margin-left: 25%;
  background: #fff;
  opacity: 0.7;
}

#sort {
  margin-top: 5px;
}

h1 {
  color: #fff;
  font-family: cursive;
  margin: 0;
}

h3 {
  visibility: hidden;
  color: red;
  font-family: cursive;
  margin: 6px 0;
}

th {
  font-size: 30px;
}

table, tr, th {
  width: 100%;
}

::placeholder {
  color: #000111;
}
